.menu {
  background-color: #333;
  overflow: hidden;
  position: relative;
  z-index: 9999;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;  /* Menos padding vertical */
  height: 30px;       /* Altura fija de 30px (ajusta según necesites) */
}

.menu-logo h1 {
  color: #fff;
  margin: 0;
  font-size: 16px;    /* Reducir el tamaño de fuente para que se ajuste a la altura */
  line-height: 30px;  /* Alinear verticalmente */
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.menu-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-links li {
  margin-left: 10px;  /* Reduce el margen entre enlaces */
}

.menu-links li a {
  color: #fff;
  text-decoration: none;
  padding: 2px 4px;   /* Menos padding para que el enlace ocupe menos altura */
}

.menu-links li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-links {
    position: fixed;
    top: 30px; /* Ahora se ubica justo debajo de la barra (30px) */
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 99999;
  }

  .menu-links.open {
    display: flex;
  }

  .menu-links li {
    margin: 10px 0;
  }
}
